/* =========================================================================
   ROOT
   ========================================================================= */

.root {
    -fx-background-color: #1f232a;
    -fx-font-family: "Inter", "SF Pro Display", "Segoe UI", sans-serif;
}


/* =========================================================
   Disabled
   ========================================================= */

.button:disabled {
    -fx-opacity: 0.5;
}


